@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <h2>Room 1</h2>
</div>
<div class="row">
    <div class="col-md-12 content">
        <div id="history" style="border: 1px solid black; height: 10em;">j</div>
    </div>
</div>
<div class="row">
    <div class="col-md-10"><textarea name="payload" id="payload" rows="3" style="width: 100%;"></textarea></div>
    <div class="col-md-2"><button id="send">Send</button></div>
</div>
